/*global*/
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
img{
    max-width: 100%;
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
}
.site-init p{
    font-size: 20px;
}
.menu a{
    margin-right: 20px;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.container{
    width: 80%;
    margin:0 auto;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
}
/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*house item*/
.house-item{
    background-color: wheat;
    width:400px ;
}
.price{
    color: green;
    font-weight: bold;
}
/*section*/
