/*global*/
:root{
    --primary:var(--primary)
}
html{
    font-size: 62.5%; /*10px = 1rem*/
}
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
h2{
    text-align: left;
    margin: 1rem 0;
    font-size: 2.4rem;
    }
p{
    font-size: 1.6rem;
    line-height: 1.5;
    }
/*-----------header-----------*/
.site-init{
    background-image: url(img/header.jpg);
    background-size: cover;
    font-style: italic;
    height: 40vh;
    color: white;
}
.site-init p{
    font-size: 2rem;
    
}
.site-second{
    text-align: center;
    width: 100%;
    height: 10vh;
    padding: 0px;
    background-color: rgb(49, 48, 48);
    color: white;
    display: flex;
    justify-content: space-around;/*horizontal*/
    align-items: center;/*vertical*/
}

@media(max-width:768px){
    .site-init{
        height: 22vh;
    }
    .site-init p{
        font-size: 1.5rem;
    }
}
.menu a{
    margin-right: 2rem;
    font-weight: bold;
}
/*-------------------utilities---------*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
}
.btn{
    display: block;
    font-size: 16px;
    background-color: yellowgreen;
    text-align: center;
    padding: 1rem;
    margin:1rem 0;
}
/*-----------------------checkbox----------*/
.checkbox{
    display: block;
}
/*------------------continer------------*/
.container{
    width: 80%;
    margin:0 auto;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
}
/*--------------about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-contact h2{
text-align: center;
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:768px) {
    .flex-header{
        flex-direction: column;
    }
    .flex-header-v{
        height: 20vh;
        text-align: center;
    }
    .flex-about{
        flex-direction: column;
    }
}
/*--------------house item*/
.house-item{
    background-color: wheat;
    width:40rem;
}
.house-item p{
    display:flex;
    justify-content: right;
    align-items: center;
}
.price{
    color: green;
    font-weight: bold;
}
/*-----------------contact form*/
.form-container{
    display:block ;
    height: 15vh;
    margin: 0%;
    padding: 0%;
}
fieldset{
    padding: 1rem;
}
legend,label,input{
    display: flexbox;
    font-size: 1.6rem;
    font-weight: bold;
    font-family:'Lucida Sans';
}
.input-container{
    margin: 1rem;
    font-weight: bold;
}
.input-container input,.input-container textarea{
    width: 70%;
    background-color: #dedede;
    border:none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}