body{
    font-family: Arial;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
/*header*/
.site-init{
    background-image: url(img/header.jpg);
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}